<!DOCTYPE>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page</h1>

        <div class="title">
            <%= title %>
        </div>
    </body>
</html>