<footer class="page-footer purple">
    
    <div class="footer-copyright">
        <div class="container">
            <center>© 2018 Copyright. All Rights Reserved.</center>
        </div>
    </div>
</footer>