<nav class="purple" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/home" class="brand-logo"><img class="img-responsive" src="images/nwlogo.jpg"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li>
                <a href="/network">My Network</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
            <li>
                <a href="#">Log Out</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="#">Navbar Link</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>