<%- include('partials/header') -%>
    <!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar') -%>
        <div class="container">
            <h1>Add New Job Listing</h1>
        </div>

        <div class="row">
            <form class="col s12" id="add-job-form" action="/add" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Title" id="new_job" type="text" class="validate">
                        <label for="new_job">Job Title</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s6">
                        <textarea id="textarea2" class="materialize-textarea" data-length="136"></textarea>
                        <label for="textarea2">Job Description (136 characters)</label>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="URL" id="job_link" type="text" class="validate">
                        <label for="job_link">URL for more information</label>
                    </div>
                </div>
                
                <button class="btn waves-effect waves-light" id="add-btn" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>

        <script type="text/javascript">
            
            $("#add-btn").on("click", function(event) {
                event.preventDefault();
                var newJob = {
                    job_title: $("#new_job").val(),
                    job_desc: $("#textarea2").val(),
                    job_URL: $("#job_link").val()
                };
                
                $.post("/add", newJob)
                    .done(function (data) {
                    //console.log(data);
                    });
            });
        </script>


        <script src="js/app.js"></script>

         <!-- Sticky Footer -->
         <%- include('partials/footer') -%>

         <!-- DO NOT TOUCH!!! -->
</body>

</html>