<%- include('header') -%>
<!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('navbar') -%>

      <div class="container">
        <h1>Home Page</h1>
      </div>



<!-- DO NOT TOUCH!!! -->
    </body>
</html>