<%- include('partials/header.ejs') -%>
    <!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar.ejs') -%>

            <div class="container">
                <h1>Careers</h1>

                <div class="row">
                    <div class="col s6 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content purple darken-4 white-text">
                          <span class="card-title">Front-End Developer</span>
                          <p>Robert Half is working with a client who is looking for a Front End Developer in Chicago, IL.</p>
                        </div>
                        <div class="card-action grey darken-2">
                          <a href="https://www.google.com/search?rlz=1C5CHFA_enUS779US779&ei=diarWsObJIad5wKq5ZOADA&q=frontend+developer+jobs&oq=frontend+developer&gs_l=psy-ab.1.4.0i71k1l8.0.0.0.23029.0.0.0.0.0.0.0.0..0.0....0...1..64.psy-ab..0.0.0....0.ymthw4RVbm0&ibp=htl;jobs#htidocid=5SAnr5EDGlGIgK9_AAAAAA%3D%3D" target="_blank">Click here for more information!</a>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col s6 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content purple darken-4 white-text">
                          <span class="card-title">Digital Marketing Front-End Developer</span>
                          <p>A career at TopstepTrader places you in the hub of one of the fastest growing technology companies in Chicago.</p>
                        </div>
                        <div class="card-action grey darken-2">
                          <a href="https://www.google.com/search?rlz=1C5CHFA_enUS779US779&ei=diarWsObJIad5wKq5ZOADA&q=frontend+developer+jobs&oq=frontend+developer&gs_l=psy-ab.1.4.0i71k1l8.0.0.0.23029.0.0.0.0.0.0.0.0..0.0....0...1..64.psy-ab..0.0.0....0.ymthw4RVbm0&ibp=htl;jobs#fpstate=tldetail&htidocid=28hL2Z4YdshBdG2BAAAAAA%3D%3D&htivrt=jobs" target="_blank"">Click here for more information!</a>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s6 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content purple darken-4 white-text">
                          <span class="card-title">Full-stack developer</span>
                          <p>If you have 2-3 years of relevant agency experience building websites and digital products using agile methods, please apply.</p>
                        </div>
                        <div class="card-action grey darken-2">
                          <a href="https://www.google.com/search?q=full+stack+developer+jobs&ibp=htl;jobs#fpstate=tldetail&htidocid=B7_bC0_uuAcxPg8_AAAAAA%3D%3D&htivrt=jobs" target="_blank">Click here for more information!</a>
                          
                        </div>
                      </div>
                    </div>
                  

                  
                    <div class="col s6 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content purple darken-4 white-text">
                          <span class="card-title">Back End Developer</span>
                          <p>We're a start-up level tech company that's sitting snugly between The Bay and Silicon Valley.</p>
                        </div>
                        <div class="card-action grey darken-2">
                          <a href="https://www.google.com/search?q=backend+developer+jobs&ibp=htl;jobs#fpstate=tldetail&htidocid=SdcdZFU94dR2M0rpAAAAAA%3D%3D&htivrt=jobs" target="_blank">Click here for more information!</a>
                          
                        </div>
                      </div>
                    </div>
                  </div>

            <!-- Sticky Footer -->
            <%- include('partials/footer') -%>

                <!-- DO NOT TOUCH!!! -->
    </body>

    </html>