<nav class="purple" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">NW LOGO</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="#">My Profile</a>
            </li>
            <li>
                <a href="#">My Network</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">Jobs</a>
            </li>
            <li>
                <a href="#">Mentor Match</a>
            </li>
            <li>
                <a href="#">Log Out</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="#">Navbar Link</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>