<%- include('partials/header') -%>
<!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar') -%>

            <div class="container">
                <h1>Network Page</h1>
            </div>

        <!-- Sticky Footer -->
        <%- include('partials/footer') -%>
     
    <!-- DO NOT TOUCH!!! -->
    </body>
</html>