<%- include('partials/header') -%>
    <!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar') -%>

            <div class="container">
                <h1>New User Signup</h1>
            </div>

            <div class="row">
                <form class="col s12" id="create-update-form" action="/users/create" method="POST">
                    <div class="row">
                        <div class="input-field col s3">
                            <input placeholder="Your first name" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s3">
                            <input placeholder="Your last name" id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="password-hash" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <select>
                                <option value="" disabled selected>Choose your Campus</option>
                                <option value="1" id="campus">Chicago</option>
                                <option value="2" id="campus">Evanston</option>
                            </select>
                            <label>Campus</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" class="datepicker" id="grad_date">
                            <label for="last_name">Graduation Date</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Link to your personal portfolio" id="link" type="text" class="validate">
                            <label for="portfolio_link">Link to My Personal Portfolio</label>
                        </div>
                    </div>

                    <button class="btn waves-effect waves-light" id="add-btn" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>

                </form>
            </div>

            <script type="text/javascript">

                $("#add-btn").on("click", function (event) {
                    event.preventDefault();
                    var newMember = {
                        email: $("#email").val(),
                        password_hash: $("#password_hash").val(),
                        first_name: $("#first_name").val(),
                        last_name: $("#last_name").val(),
                        campus: $("#campus").val(),
                        grad_date: $("#grad_date").val(),
                        link: $("#link").val()
                    };
                    console.log(newMember.password)

                    $.post("/create", newMember)
                        .done(function (data) {
                            console.log(data);
                        });
                });

            </script>

            <script src="js/app.js"></script>


            <!-- Sticky Footer -->
            <%- include('partials/footer') -%>

                <!-- DO NOT TOUCH!!! -->
    </body>

    </html>